/* Navbar.css */
.navbar {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 24px;
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    gap: 16px;
    width: 100%;
    padding-right: 5rem;
    height: 90px;
    margin-bottom: 16px;
  }
  
  .notification, .user-info {
    display: flex;
    align-items: center;
  }
  
  .notification-icon {
    color: #4a4a4a; /* Equivalent to text-gray-700 */
    margin-right: 16px;
  }
  
  .notification-count {
    color: #ef4444; /* Equivalent to text-red-500 */
  }
  
  .user-info span {
    color: #4a4a4a; /* Equivalent to text-gray-700 */
    margin-right: 8px;
  }
  
  .user-info .dropdown-icon {
    color: #4a4a4a; /* Equivalent to text-gray-700 */
  }
  